@font-face {
  font-family: 'CohereIconDefault';
  src: url('../../public/fonts/CohereIcon-Default.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'CohereIconOutline';
  src: url('../../public/fonts/CohereIcon-Outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Aliance';
  src: url('../../public/fonts/AlianceNo2-Light.woff') format("woff");
  /* url('../../public/fonts/AlianceNo2-Light.woff') format("woff"); */
  font-weight: normal;
  font-style: normal;
}
